/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.bsd {
  box-shadow: 0 0 8px #00002625;
}

.bdr8px {
  border-radius: 8px;
}
